@import "tailwindcss";

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Sora";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.hero_background {
  background-color: #0f0715;
  z-index: 1;
  position: relative;
}

.hero_background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 322px;
  height: 308px;
  border-radius: 50%;
  background: linear-gradient(260deg, #8750f7 0%, rgba(115, 67, 210, 0) 100%);
  -webkit-filter: blur(150px);
  filter: blur(150px);
  margin-right: -5%;
  margin-top: -5%;
  z-index: -1;
}
.hero_pic::before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 326px;
  height: 314px;
  border-radius: 50%;
  background: linear-gradient(260deg, #8750f7 0%, rgba(115, 67, 210, 0) 100%);
  filter: blur(150px);
  z-index: -1;
}

body::-webkit-scrollbar {
  background-color: #2a1454;
  max-width: 6px;
}
body::-webkit-scrollbar-thumb {
  max-width: 5px;
  background-color: #8750f7;
}
.btn {
  background-image: linear-gradient(
    to right,
    #8750f7 0%,
    #2a1454 51%,
    #8750f7 100%
  );
  background-size: 200%;
  transition: 0.4s;
}
.btn:hover {
  color: #d5d4d4;
  background-position: -100%;
}
.nav_link {
  position: relative;
  cursor: pointer;
}
.nav_link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(to left, #9967fd59 40%, #9669f3 90%);
  transition: width 0.3s ease;
}

.nav_link:hover::before {
  width: 100%;
}

/* Active class */
.nav_active {
  position: relative;
}
.nav_active::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(to left, #a376fd59 40%, #9669f3 90%);
  transition: width 0.3s ease;
  width: 100%;
}

.heading_title {
  background: linear-gradient(to right, #8750f7 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.svg_icon {
  border: 1px solid #8750f7;
  border-radius: 19px;
  font-size: 1.6rem;
  padding: 14px 3rem;
  transition: background-color 0.3s ease-in-out;
}
.icon {
  color: #7d4ae5;
}
.svg_icon:hover .icon {
  color: white;
}
.svg_icon:hover {
  background-color: #8750f7;
}
.icon:hover {
  color: white;
}

@keyframes animateBackground {
  0% {
    transform: scale(1);
    transition: 1s;
  }
  50% {
    transform: scale(1.1);
    transition: 1s;
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    transition: 1s;
  }
}

.animated-text {
  font-size: 17rem;
  animation: animateBackground 3s ease-in-out infinite;
  -webkit-text-stroke: 1px #6c2ceb;
  color: transparent;
  overflow: hidden;
  position: absolute;
  left: 40%;
  opacity: 0.3;
}
.about_hero::before {
  content: "0";
}

.mywork {
  background-color: #050709;
}
.myskills {
  background-color: #0f0715;
}
/*Mywork*/

.demo_box {
  visibility: hidden;
  display: flex;
}
.mywork_parent {
  z-index: 1;
}
.mywork_parent:hover .demo_box {
  visibility: visible;
}
.mywork_parent:hover .mywork_child {
  transition:
    visibility 1s ease,
    transform 0.3s ease;
  transform: rotate(321deg);
}
.mywork_shadow {
  box-shadow: 0 0 180px 230px #341e5cb8;
  position: absolute;
  left: 45%;
  top: 55%;
}
.style-shadow {
  box-shadow: 0 0 180px 230px #341e5cb8;
  position: absolute;
  right: 0%;
}
.preload-shadow {
  box-shadow: 0 0 180px 230px #341e5c26 !important;
  left: 0px;
}
.slick-prev {
  left: 50px !important;
  z-index: 2;
}
.slick-next {
  right: 50px !important;
  z-index: 2;
}
.slick-prev:before,
.slick-next:before {
  font-size: 35px !important;
  cursor: pointer;
}

/* Make dots bigger and remove default */
.slick-dots li button {
  width: 12px!important;
  height: 12px!important;
  padding: 0;
  border-radius: 50%;
}

.slick-dots li button:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: gray;
  border-radius: 50%;
  opacity: 1!important;
}

/* Active dot color */
.slick-dots li.slick-active button:before {
  background-color: #8F12EA;
}

/* Certification */

.certificates {
  background-color: #0f0715;
}

/* Contact Me */

.contact {
  background-color: #050709;
}
.input_field {
  background: #050709;
  padding: 0.9rem;
  border: 1px solid #1e1e1e;
  border-radius: 7px;
  transition: 0.6s;
  font-size: 17px;
  resize: none;
}
.input_field:focus {
  outline: none;
  border: 1px solid #8750f7;
}
.option {
  background-color: white;
  color: black;
}
.input_flex {
  display: flex;
  gap: 0.8rem;
}

.contact_svg {
  background: linear-gradient(2deg, #653abc, #653abc5e);
  border-radius: 50px;
  font-size: 1.4rem;
  padding: 0.9rem;
}

/* Scroll  */
.nav_scroll {
  background-color: black;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  opacity: 1;
  animation: bounceInDown 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  box-shadow: 0rem -1.5rem 3rem #64308b;
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

nav {
  transition: all 0.5s;
}

nav .nav_scroll {
  transform: translateY(0);
  opacity: 1;
}

.preload {
  transition: 2s;
}
